{template 'header.html'}
<!-- 面包屑导航开始 -->
<!-- {template 'position.html'} 
<!-- 面包屑导航结束 -->

<div id="fh5co-team-section" class="fh5co-bg-section fh5co-pricing fh5co-lightgray-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>选择代理花色棋牌游戏的4大理由</h2>
				<p>棋牌游戏代理 联运-利润丰厚，月入过万不是梦！</p>
			</div>
		</div>
		<div class="row">
			<div class="pricing">
				<div class="col-md-3 animate-box fadeInUp animated">
					<div class="price-box animate-box fadeInUp animated">
						<h3>免费加入</h3>
						<ul class="classes">
							<li>无需保证金</li>
							<li class="color">创建20人群</li>
							<li>即可申请代理</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 animate-box fadeInUp animated">
					<div class="price-box animate-box fadeInUp animated">
						<h3>海量资源</h3>
						<ul class="classes">
							<li>用户同服</li>
							<li class="color">产品同步</li>
							<li>利益共同</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 animate-box fadeInUp animated">
					<div class="price-box animate-box popular fadeInUp animated">
						<h3>组局简单</h3>
						<ul class="classes">
							<li>开好房间</li>
							<li class="color">邀请好友</li>
							<li>即开比拼</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 animate-box fadeInUp animated">
					<div class="price-box animate-box fadeInUp animated">
						<h3>利润丰厚</h3>
						<ul class="classes">
							<li>超低进货价</li>
							<li class="color">丰厚的利润回报</li>
							<li>不定期免费送房卡</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="product grow-con" id="prospect" name="prospect" style="padding-top: 7em;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2>未来前景可观</h2>
				<p>棋牌代理行业前景，连续四年爆发增长，</p>
			</div>
		</div>
		<div class="grow row">
			<div class="col-md-offset-1 col-md-2 col-sm-12 grow-one wow animated fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
				<div class="grow-box ">
					<div class="grow-text ">
						2014年，移动游戏行业收入规模翻了4.4倍，预计达到220亿元，增长非常迅速。 行业内接触手游设备规模
						<span class="fw600 c-red"> 预计可达到10.4亿台</span>。
					</div>
				</div>
				<div class="grow-circle"></div>
				<div class="grow-year">
					2014
				</div>
			</div>
			<div class="col-md-2 col-sm-12 grow-two wow animated fadeInDown animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;">
				<div class="grow-box ">
					<div class="grow-text ">
						2015年中国移动游戏市场规模约562亿，增长率再创新高，超过100%。全国牌用户已突破2.4亿， 棋牌游戏类占比8%，
						<span class="fw600 c-red">棋牌市场50亿左右</span>。
					</div>
				</div>
				<div class="grow-circle"></div>
				<div class="grow-year">
					2015
				</div>
			</div>
			<div class="col-md-2 col-sm-12 grow-three wow animated fadeInUp animated" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
				<div class="grow-year">
					2016
				</div>
				<div class="grow-circle-down"></div>
				<div class="grow-box ">
					<div class="grow-text mt15">
						2016年前后，房卡模式退出，地方特色棋牌平台迎来资本热，行业热度迅速升温， 地方特色棋牌游戏
						<span class="fw600 c-red">市场规模总计38.4亿元，用户规模达到1.57亿</span>。
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-12 grow-four wow animated fadeInUp animated" data-wow-delay="1.6s" style="visibility: visible; animation-delay: 1.6s; animation-name: fadeInUp;">
				<div class="grow-year">
					2017
				</div>
				<div class="grow-circle-down"></div>
				<div class="grow-box ">
					<div class="grow-text mt15">
						2017年随着移动端棋牌游戏的普及，全年年棋牌游戏市场规模突破1000亿万。 棋牌游戏也跟随整体市场规模稳定上升，预估
						<span class="fw600 c-red">市场规模将达到83亿元</span>。
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-12 grow-five wow animated fadeInUp animated" data-wow-delay="2s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp;">
				<div class="grow-year">
					2018
				</div>
				<div class="grow-circle-down"></div>
				<div class="grow-box ">
					<div class="grow-text mt15">
						2018从整个游戏市场来看，棋牌游戏在网络游戏中所占的比重持续增加，
						<span class="fw600 c-red">市场规模有望突破100亿大关</span>。
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-practice" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>联运商3大特权</h2>
				<p>免购买费，免加盟费，免平台费！只需有人脉立即当老板。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<div class="services">
					<span class="icon">
						<i class="icon-stats-dots"></i>
					</span>
					<div class="desc">
						<h3>
							<a href="#">资产增值</a>
						</h3>
						<p>投资少门槛低，获取成功机率高
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="services">
					<span class="icon">
						<i class="icon-magic-wand"></i>
					</span>
					<div class="desc">
						<h3>
							<a href="#">自主创新</a>
						</h3>
						<p>参与产品制作，职业产品经理帮您规划产品需求
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="services">
					<span class="icon">
						<i class="icon-bubbles4"></i>
					</span>
					<div class="desc">
						<h3>
							<a href="#">专业售后</a>
						</h3>
						<p>专业团队为您进行技术维护运营，把控产品数值等
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-team-section" class="fh5co-pricing fh5co-lightgray-section" style="background: rgb(255,255,255);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="heading-section text-center animate-box fadeInUp animated">
					<h2>棋牌代理常见问题</h2>
				</div>
			</div>
			<div class="col-md-offset-3 col-md-12" style="margin-left: 0;">
				<div class="panel-group animate-box fadeInUp animated" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
								  class="">
									做网络棋牌游戏有没有政策风险？
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne;" style="background: rgba(0, 0, 0, 0.04);"
						  aria-expanded="true">
							<div class="panel-body">
								<p>临时成立的小公司大多是无照经营，产品随时会被举报下架，严重者还会追究法律责任。只有资质健全，在国家备案的大品牌大公司才有实力保障政策安全问题。</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								  aria-controls="collapseTwo">
									买代码或模版自己做更便宜？
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="background: rgba(0, 0, 0, 0.04); height: 0px;"
						  aria-expanded="false">
							<div class="panel-body">
								<p>贪图便宜、低价源码；页面粗糙，程序BUG多；服务器遭到攻击，损失惨重；售后问题，无人维护。</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								  aria-controls="collapseThree">
									哪家最挣钱选哪家？
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="background: rgba(0, 0, 0, 0.04); height: 0px;"
						  aria-expanded="false">
							<div class="panel-body">
								<p>不看口碑、不重技术、不经过实地考察，随意选择商家的后果是小公司无核心团队，对企业长期发展没有良性帮助。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
								  aria-controls="collapseThree">
									想快速收回成本？
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" style="background: rgba(0, 0, 0, 0.04); height: 0px;"
						  aria-expanded="false">
							<div class="panel-body">
								<p>急功近利、欲速不达，快速收回成本的运营方法会大量流失用户，没有长期地运营维护，流量不稳必然会无法持久。</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFive">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
								  aria-controls="collapseThree">
									产品做出来马上就能赚钱？
								</a>
							</h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" style="background: rgba(0, 0, 0, 0.04); height: 0px;"
						  aria-expanded="false">
							<div class="panel-body">
								<p>正规公司的产品不会套用模板，研发过程会根据地方特色不断修改玩法，测试和上线后还会根据用户反馈的信息，反复对产品进行修改和完善，好的产品不是一蹴而就的，而是不断和用户磨合出来的。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-started" style="background-image:url({$skin_path}/images/img_bg_2.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>掌猴游戏</h2>
				<p>掌猴游戏一家专业的棋牌游戏开发商,诚招棋牌代理,棋牌游戏免费代理加盟合作,经典房卡模式,花色棋牌游戏平台海量用户等你代理加盟。</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center">
				<p>
					<a href="#" class="btn btn-default btn-lg">立即加盟</a>
				</p>
			</div>
		</div>
	</div>
</div>

{template 'footer.html'}