{template 'header.html'}

<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
			<li style="background-image: url({$skin_path}/images/img_bg_1.jpg);">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
							<div class="slider-text-inner">
								<h1>棋牌游戏加盟合作</h1>
								<h2>棋牌游戏加盟合作</h2>
								<p>
									<a class="btn btn-primary btn-lg" href="#">代理加盟</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url({$skin_path}/images/img_bg_2.jpg);">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
							<div class="slider-text-inner">
								<h1>棋牌游戏加盟合作</h1>
								<h2>棋牌游戏加盟合作</h2>
								<p>
									<a class="btn btn-primary btn-lg btn-learn" href="#">代理加盟</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url({$skin_path}/images/img_bg_3.jpg);">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
							<div class="slider-text-inner">
								<h1>棋牌游戏加盟合作</h1>
								<h2>棋牌游戏加盟合作</h2>
								<p>
									<a class="btn btn-primary btn-lg btn-learn" href="#">代理加盟</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</aside>

<div id="fh5co-counter" class="fh5co-counters">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<span class="icon">
					<i class="icon-user"></i>
				</span>
				<span class="fh5co-counter js-counter" data-from="0" data-to="3" data-speed="1" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">3年潜心研发</span>
			</div>
			<div class="col-md-4 text-center animate-box">
				<span class="icon">
					<i class="icon-tree"></i>
				</span>
				<span class="fh5co-counter js-counter" data-from="0" data-to="800" data-speed="100" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">覆盖全国800家联运合作商</span>
			</div>
			<div class="col-md-4 text-center animate-box">
				<span class="icon">
					<i class="icon-users"></i>
				</span>
				<span class="fh5co-counter js-counter" data-from="0" data-to="7000" data-speed="1000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">活跃玩家总数达7000万</span>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-practice" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>联运商3大特权</h2>
				<p>免购买费，免加盟费，免平台费！只需有人脉立即当老板。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<div class="services">
					<span class="icon">
						<i class="icon-stats-dots"></i>
					</span>
					<div class="desc">
						<h3>
							<a href="#">资产增值</a>
						</h3>
						<p>投资少门槛低，获取成功机率高
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="services">
					<span class="icon">
						<i class="icon-magic-wand"></i>
					</span>
					<div class="desc">
						<h3>
							<a href="#">自主创新</a>
						</h3>
						<p>参与产品制作，职业产品经理帮您规划产品需求
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center animate-box">
				<div class="services">
					<span class="icon">
						<i class="icon-bubbles4"></i>
					</span>
					<div class="desc">
						<h3>
							<a href="#">专业售后</a>
						</h3>
						<p>专业团队为您进行技术维护运营，把控产品数值等
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-project">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>棋牌游戏</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
				<div class="team-section-grid">
					<img src="{$skin_path}/images/project-1.jpg" alt="" class="img-responsive">
					<div class="overlay-section">
						<div class="desc desc-qrcode">
							<a href="/index.php?id=95">
								<h2 style="color: white; margin-bottom: 5%;">斗地主游戏</h2>
								<p>
									<img src="{$skin_path}/images/project-1_qrcode.jpg" class="project-qrcode">
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
				<div class="team-section-grid">
					<img src="{$skin_path}/images/project-2.jpg" alt="" class="img-responsive">
					<div class="overlay-section">
						<div class="desc">
							<a href="/index.php?id=95">
								<h2 style="color: white; margin-bottom: 5%;">宁波斗地主</h2>
								<p>敬请期待</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
				<div class="team-section-grid">
					<img src="{$skin_path}/images/project-3.jpg" alt="" class="img-responsive">
					<div class="overlay-section">
						<div class="desc">
							<a href="/index.php?id=95">
								<h2 style="color: white; margin-bottom: 5%;">血拼到底 麻将</h2>
								<p>敬请期待</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="fh5co-started" style="background-image:url({$skin_path}/images/img_bg_2.jpg);">
	<div class="overlay"></div>
	<div class="container guest">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<h2>游戏代理申请</h2>
				<p>掌猴游戏一家专业的棋牌游戏开发商,诚招棋牌代理,棋牌游戏免费代理加盟合作
					<br />掌猴游戏平台海量用户等你代理加盟。</p>
			</div>

			<div class="col-lg-8 col-md-8 contact-us-r">
				{callGuestbook()}
			</div>
		</div>
	</div>
</div>

{template 'footer.html'}